<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a class="font-weight-bold text-dark" href="/contact">
              Contact
            </a>
          </li>
          <li>
            <a class="font-weight-bold text-dark" href="/illu">
              Illu
            </a>
          </li>
          <li>
            <a class="font-weight-bold text-dark" href="/rangoli">
              Rangoli
            </a>
          </li>
          <li>
            <a class="font-weight-bold text-dark" href="/gc">
              Gc
            </a>
          </li>
          <li>
            <a class="font-weight-bold text-dark" href="/alumni">
              Alumni Corner
            </a>
          </li>
          <li>
            <a class="font-weight-bold text-dark" href="/hallcouncil">
              Hall Council
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        2020, made with <i class="material-icons">favorite</i> by
        <a class="font-weight-bold text-dark" href="https://www.linkedin.com/in/ajayranwa/" target="_blank">Ajay Ranwa</a>.
      </div>
    </div>
  </footer>