<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/contact">
              Contact
            </a>
          </li>
          <li>
            <a href="/illu">
              Illu
            </a>
          </li>
          <li>
            <a href="/rangoli">
              Rangoli
            </a>
          </li>
          <li>
            <a href="/gc">
              Gc
            </a>
          </li>
          <li>
            <a href="/gallery">
              Gallery
            </a>
          </li>
          <li>
            <a href="/hallcouncil">
              Hall Council
            </a>
          </li>
          <li>
            <a href="/captains_secretaries">
              Captains
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="#" target="_blank">Ajay Ranwa</a>.
      </div>
    </div>
  </footer>