<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/rk_main2.png') }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {% block title %}
    RK Hall - IIT Kharagpur
    {% endblock %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='assets/css/material-kit.css') }}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{ url_for('static', filename='assets/demo/demo.css') }}" rel="stylesheet" />
  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
</head>

<body class="landing-page sidebar-collapse">
    {% include 'includes/nav.html' %} {# pull in navbar #}
    
    {% include 'includes/_messages.html' %}
    {% block content %}{# main content area #}{% endblock %}
    {% include 'includes/footer.html' %}
    {% include 'includes/script.html' %}
</body>
</html>