<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {% block title %}
    RK Hall - IIT Kharagpur
    {% endblock %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='assets/css/material-kit.css') }}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{ url_for('static', filename='assets/demo/demo.css') }}" rel="stylesheet" />
</head>
<body class="profile-page sidebar-collapse">
    {% include 'includes/nav.html' %} {# pull in navbar #}
    
    {% include 'includes/_messages.html' %}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='assets/images/rk_main.jpg')}})"></div>
      <div class="main main-raised">
        <div class="section text-center">
          <h2 class="title">CAPTAINS</h2>
          <div class="team">
            <div class="row">
              {% for captain in captains_secretaries_data if captain.post == 'CAPTAIN'%}
                <div class="col-md-4">
                  <div class="team-player">
                    <div class="card card-plain">
                      <div class="col-md-6 ml-auto mr-auto">
                        <img src="{{captain['profilephoto']}}" alt="Raised Image" class="img-raised rounded img-fluid" style="max-width:180px;height:180px;">
                      </div>
                      <h4 class="card-title">{{captain['name']}}
                        <br>
                        <small class="card-description text-muted">{{captain['post']}} {{captain['title']}}</small>
                      </h4>
                      <div class="card-footer justify-content-center">
                        <a href="{{captain['inprofile']}}" class="btn btn-link btn-just-icon" alt="nbvbv"><i class="fa fa-link"></i></a>
                        <a href="{{captain['fbprofile']}}" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        <a href="mailto:{{captain['email']}}" class="btn btn-link btn-just-icon"><span class="material-icons">alternate_email</span></a>
                        {% if session.logged_in %}
                          <a href="/edit_captains_secretaries_{{captain['id']}}" class="btn btn-link btn-just-icon"><span class="material-icons">edit</span></a>
                          <a href="/delete_captains_secretaries_{{captain['id']}}" class="btn btn-link btn-just-icon"><span class="material-icons">delete_outline</span></a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="section text-center">
          <h2 class="title">VICE CAPTAINS</h2>
          <div class="team">
            <div class="row">
              {% for vice_captain in captains_secretaries_data if vice_captain.post == 'VICE CAPTAIN'%}
                <div class="col-md-4">
                  <div class="team-player">
                    <div class="card card-plain">
                      <div class="col-md-6 ml-auto mr-auto">
                        <img src="{{vice_captain['profilephoto']}}" alt="Raised Image" class="img-raised rounded img-fluid" style="max-width:180px;height:180px;">
                      </div>
                      <h4 class="card-title">{{vice_captain['name']}}
                        <br>
                        <small class="card-description text-muted">{{vice_captain['post']}} {{vice_captain['title']}}</small>
                      </h4>
                      <div class="card-footer justify-content-center">
                        <a href="{{vice_captain['inprofile']}}" class="btn btn-link btn-just-icon" alt="nbvbv"><i class="fa fa-link"></i></a>
                        <a href="{{vice_captain['fbprofile']}}" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        <a href="mailto:{{vice_captain['email']}}" class="btn btn-link btn-just-icon"><span class="material-icons">alternate_email</span></a>
                        {% if session.logged_in %}
                          <a href="/edit_captains_secretaries_{{vice_captain['id']}}" class="btn btn-link btn-just-icon"><span class="material-icons">edit</span></a>
                          <a href="/delete_captains_secretaries_{{vice_captain['id']}}" class="btn btn-link btn-just-icon"><span class="material-icons">delete_outline</span></a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div> 
    {% include 'includes/footer.html' %}
    {% include 'includes/script.html' %}
</body>
</html>
  