<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/RK_logo.png') }}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {% block title %}
    RK Hall IIT Kgp - A Great Place to learn and.... live
    {% endblock %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='assets/css/material-kit.css') }}" rel="stylesheet" />
</head>
<body class="profile-page sidebar-collapse">
    {% include 'includes/nav.html' %} {# pull in navbar #}
    
    {% include 'includes/_messages.html' %}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='assets/images/rk_main.jpg')}})"></div>
      <div class="main main-raised">
        <div class="section text-center">
          <div class="features">
            <div class="row">
              <div class="col-md-4">
                <!-- <div class="info"> -->
                  <h2 class="info-title text-left" style="margin-left: 60px;">Contact</h2>
                  <div class="text-left" style="margin-left: 60px;">
                    <p class="text-dark">
                      <h4> <b>Radhakrishnan Hall of Residence</b></h4>
                      New Bitumen Road,<br>IIT Kharagpur Campus,<br>Kharagpur,<br>West Bengal-721302<br><br>
                      RK Hall Security: +91-3222281152<br>HP: <a class="font-weight-bold text-dark" href="mailto:rkhall.hp@gmail.com">
                        rkhall.hp@gmail.com
                      </a>
                      <br>
                      SSM: <a class="font-weight-bold text-dark" href="mailto:rkhall.ssm@gmail.com">
                        rkhall.ssm@gmail.com
                      </a><br>
                      G. Sec. Alumni Affairs: <a class="font-weight-bold text-dark" href="mailto:rkalumaffairs@gmail.com">
                        rkalumaffairs@gmail.com
                      </a>
                    </p>
                  </div>
                <!-- </div> -->
              </div>
              <div class="col-md-4">
                <div class="info">
                  <img src="{{ url_for('static', filename='assets/images/RK_logo.png')}}" alt="Raised Image" style="max-width:150%;height:225px;">
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <img src="{{ url_for('static', filename='assets/images/kgp_logo.gif')}}" alt="Raised Image" style="max-width:100%;height:180px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    {% include 'includes/footer.html' %}
    {% include 'includes/script.html' %}
</body>
</html>