{% extends "base.html" %}
{% block content %}
  <br>
  <br>
  <br>
  <div>
    <div class="container col-md-6">
      <h3 class="font-weight-bold">Edit Main Page Data</h3>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="">
          <div class="form-group">
            {{ render_field(form.title, class_="form-control") }}
          </div>
          <div class="form-group">
            {{ render_field(form.body, class_="form-control") }}
          </div>
          <div class="form-group">
            {{ render_field(form.videolink, class_="form-control") }}
          </div>
          <p><input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
  </div>
  {% endblock content %}