{% extends "base.html" %}
{% block content %}

<div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='assets/images/gc_background.jpg') }}); background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title">{{page_data.title}}</</h1>
        <br>
        {% if page_data.videolink != '' %}
          <a href="{{page_data.videolink | safe}}" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> {{page_data.videobuttontext}}
          </a>
        {% endif %}
        {% if session.logged_in%}
          <a href="/edit_page/{{page_data.id}}" class="btn btn-white btn-raised btn-lg">
            <i class="fa fa-edit"></i> Edit Page
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div id="nav-tabs">
        <h2 class="title">{{page_data.title}}</h2>
        <br>
        <div class="row">
          <div class="card-deck">
            <!-- <div class="col-md-4"> -->
              <!-- Tabs with icons on Card -->
              <div class="card">
                <div class="card-header">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div >
                    <div>
                      <h6 class="text-center"> <b>Sports & Games </b></h6>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="profile">
                      <ul class="list-group text-left">
                          {% for subhead in subhead_data if subhead.head=='Sports & Games' %}
                            <li class="list-group-item"><a class="nav-link font-weight-bold text-dark" href="#{{subhead.subhead}}" data-toggle="modal">{{subhead.subhead}}</span></a> </li>
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->
            <!-- </div> -->
            <!-- <div class="col-md-4"> -->
              <!-- Tabs with icons on Card -->
              <div class="card">
                <div class="card-header">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div >
                    <div>
                      <h6 class="text-center"> <b>Social & Cultural </b></h6>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="tab-pane active row" id="profile">
                      <ul class="list-group text-left">
                          {% for subhead in subhead_data if subhead.head=='Social & Cultural' %}
                            <li class="list-group-item"><a class="nav-link font-weight-bold text-dark" href="#{{subhead.subhead}}" data-toggle="modal">{{subhead.subhead}}</span></a> </li>
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->
            <!-- </div> -->
            <!-- <div class="col-md-4"> -->
              <!-- Tabs with icons on Card -->
              <div class="card">
                <div class="card-header">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div >
                    <div>
                      <h6 class="text-center"> <b>Technology</b></h6>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="profile">
                      <ul class="list-group text-left">
                          {% for subhead in subhead_data if subhead.head=='Technology' %}
                            <li class="list-group-item"><a class="nav-link font-weight-bold text-dark" href="#{{subhead.subhead}}" data-toggle="modal">{{subhead.subhead}}</span></a> </li>
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <h2 class="title">GALLERY GENERAL CHAMPIONSHIP</h2>
          <br>
            <!-- Carousel Card -->
          {% include 'gallery.html' %}
        </div>
      </div>
    </div>

  </div>
</div>
{% for subhead in subhead_data %}
<div class="modal fade" id="{{subhead.subhead}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header center">
          <h4 class="text-strong"> <b>{{subhead.subhead}}</b></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                  <th scope="col">Event</th>
                  <th scope="col">Captain(s)</th>
                  <th scope="col">V-Captain(s)</th>
                  {% if session.logged_in %}
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  {% endif %}
              </tr>
            </thead>

            <tbody>
            {% for captDetails in gc_data if captDetails.subhead == subhead.subhead %}
              <tr>
                <td scope="row">{{captDetails.event}}</td>
                <td>{{captDetails.captain}}</td>
                <td>{{captDetails.vcaptain}}</td>
                {% if session.logged_in %}
                    <td scope="col"><a href="/edit_gc_event_{{captDetails['id']}}" class="btn btn-link btn-just-icon"><span class="material-icons">edit</span></a></td>
                    <td scope="col"><a href="/delete_gc_event_{{captDetails['id']}}" class="btn btn-link btn-just-icon"><span class="material-icons">delete_outline</span></a></td>
                  {% endif %}
              </tr>
            {% endfor %}  
            </tbody>
          </table>
          <h4 class="text-strong"> <b>Last Year Standing</b></h4>
          <table class="table">
            <tbody>
            {% for captDetails in gc_data if captDetails.subhead == subhead.subhead and captDetails.laststanding != 'None' %}
              <tr>
                <td scope="row">{{captDetails.event}}</td>
                <td>{{captDetails.laststanding}}</td>
              </tr>
            {% endfor %}  
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


{% endblock content %}