{% extends "base.html" %}
{% block content %}

<div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='assets/images/rk_main2.jpg') }}); background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title">RadhaKrishnan Hall Of Residence</h1>
        <h4 class="title">A Great Place to learn and.... live</h4>
        <br>
        {% if page_data.videolink != '' %}
          <a href="{{page_data.videolink | safe}}" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> {{page_data.videobuttontext}}
          </a>
        {% endif %}
        {% if session.logged_in%}
          <a href="/edit_page/{{page_data.id}}" class="btn btn-white btn-raised btn-lg">
            <i class="fa fa-edit"></i> Edit Page
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-11 ml-auto mr-auto">
          <h2 class="title">{{page_data.title}} </h2>
          <div class="text-justify text-dark">{{page_data.body | safe}}</div>
        </div>
      </div>
    </div>
    
    <div class="section text-center">
      <div class="row">
        <div class="col-md-11 ml-auto mr-auto">
          <h2 class="title">INSIGHTS
            {% if session.logged_in%}
              <a href="/edit_insights/">
                <i class="fa fa-edit"></i>
              </a>
            {% endif %}
          </h2>
          <br>
          <div class="row">
            <div class="col s6 m3">
                <i class="fa fa-futbol-o fa-2x" aria-hidden="true"></i>
                <p>{{insight_data.playground}}<br>Playgrounds</p>
            </div>
            <div class="col s6 m3">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                <p>{{insight_data.hallmember}}<br>Happy Hall Members</p>
            </div>
            <div class="col s6 m3">
                <i class="fa fa-building fa-2x" aria-hidden="true"></i>
                <p>{{insight_data.rooms}}<br>Rooms</p>
            </div>
            <div class="col s6 m3">
                <i class="fa fa-coffee fa-2x" aria-hidden="true"></i>
                <p>{{insight_data.shops}}<br>Shops &#38; Canteens</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col s6 m3">
                <i class="fa fa-fire fa-2x" aria-hidden="true"></i>
                <p>{{insight_data.illuminationdiyas}}<br>Illumination Diyas</p>
            </div>
            <div class="col s6 m3">
                <i class="fa fa-trophy fa-2x" aria-hidden="true"></i>
                <p>{{insight_data.sportsgc}}<br>Sports &#38; Games<br> General Championship</p>
            </div>
            <div class="col s6 m3">
                <i class="fa fa-shield fa-2x" aria-hidden="true"></i>
                <p>{{insight_data.socultgc}}<br>Social &#38; Cultural <br>General Championship</p>
            </div>
            <div class="col s6 m3">
                <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i>
                <p>{{insight_data.startups}}<br>Startups</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title"> <ion-icon name="trophy-outline"></ion-icon>  Hall Awardees  <ion-icon name="trophy-outline"></ion-icon></h2>
        </div>
      </div>
      <div class="features col-md-11 ml-auto mr-auto" >
        <div class="row">
          {% for award in hallawardee_data %}
            <br>
            <div class="col-md-4 text-left">
              <a class="nav-link font-weight-bold text-dark" href="#{{award.award}}" data-toggle="modal">{{award.award}}</span></a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="section text-center">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <h2 class="title">LIFE AT RADHAKRISHNAN HALL OF RESIDENCE</h2>
          <br>
          {% include 'gallery.html' %}
        </div>
      </div>
    </div>

    <div class="section text-center">
      <h2 class="title">CHRONICLES OF RK!</h2>
      <h4><a href="/add_article/Story">  <button type="button" class="btn btn-dark" >Share your stories</button></a></h4>
      <br>
      <div class="col-md-10 ml-auto mr-auto">
        <div class="row">
          <div class="card-deck">
        {% for article in articles %}
          <div class="col-md-6">
            <div class="card mb-6 shadow-sm">
              <a href="/article/{{article.id}}" class="text-left text-dark"><img src="{{article.titleimage}}" class="img-raised rounded img-fluid" style="height:200px;"></a>
              <div class="card-body">
                <h5 class="text-left font-weight-bold text-dark"><a href="/article_{{article.id}}" class="text-dark">{{article.title}}</a></h5>
                <div class="meta-wrap">
                  <p class="text-muted font-weight-bold text-left">
                    <span class="material-icons" style="font-size: 12px;">calendar_today</span> {{article.create_date.strftime("%d %b,%Y")}}   
                    <span class="material-icons" style="font-size: 12px;">watch_later</span> {{article.timetoread}} mins
                  </p>
                </div>
                <p class="mb-4 text-left"><a href="/article_{{article.id}}" class="text-dark">{{article.description}}</a> <br>
                <a href="/article/{{article.id}}" class="text-primary">View More</a></p>
                <div class="d-flex align-items-center font-weight-bold">
                  <span class="material-icons" style="font-size: 20px;">face</span>  {{article.name}}<p class="text-white">---- </p>
                  <span class="material-icons" style="font-size: 20px;">group</span>  Batch: {{article.batchof}}
                </div>
                {% if session.logged_in %}
                <div class="d-flex align-items-center font-weight-bold">
                  <a href="/approve_article/{{article.id}}">  <button type="button" class="btn btn-dark" >Disapprove</button></a>
                  <a href="/delete_article_{{article.id}}">  <button type="button" class="btn btn-dark" >Delete</button></a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        </div>
      </div>
    </div>


  </div>
</div>

{% for award in hallawardee_data %}
<div class="modal fade" id="{{award.award}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h4 class="text-strong" style="text-transform: uppercase;"> <b>{{award.award}}</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Session</th>
                <th scope="col">Name</th>
                {% if session.logged_in %}
                  <th scope="col">Delete</th>
                {% endif %}
            </tr>
          </thead>

          <tbody>
          {% for awardee in awardeelist if awardee.award == award.award %}
            <tr>
              <td scope="row">{{awardee.year}}-{{awardee.year+1}}</td>
              <td style="text-transform: uppercase;">{{awardee.name}}</td>
              {% if session.logged_in %}
                  <td scope="col"><a href="/delete_awardee_{{awardee['id']}}" class="btn btn-link btn-just-icon"><span class="material-icons">delete_outline</span></a></td>
                {% endif %}
            </tr>
          {% endfor %}  
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}