{% extends "base.html" %}
{% block content %}

<div class="page-header header-filter" data-parallax="true" style="background-image: url({{ url_for('static', filename='assets/images/rk_main2.jpg') }})">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title">{{data['title']}}</</h1>
        <br>
        <a href="https://www.youtube.com/watch?v=8nq0zQfj5pc" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Campus Tour
        </a>
        {% if session.logged_in%}
          <a href="/edit_aboutrk/" class="btn btn-white btn-raised btn-lg">
            <i class="fa fa-edit"></i> Edit This Page Data
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">{{data['title']}}</</h2>
          <h4 class="text-justify">{{data['aboutrk'] | safe}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}